/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2019, 12:30:39 AM
    Author     : dany
*/

.dibujar {  
    -fx-background-color: #1156CB;
    -fx-text-fill: #ffffff;
}

.comparar {
    -fx-background-color: #1156CB;
    -fx-text-fill: #ffffff;
}

.fondo {
   -fx-background-color: #ffffff; 
}